<!DOCTYPE html>
<html>
  <head>
    <title>#title#</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./style.css" />
  </head>

  <body>
    <div id="app">
      <h1>Welcome to the farm, #user#!</h1>
      <h2>Meet the residents! Use the dropdown menu.</h2>
      <select> 
        <option>#species#</option>

      </select>
    </div>
  </body>
</html>