<!DOCTYPE html>
<html>
  <head>
    <title>#title#</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../style.css" />
  </head>

  <body>
    <div id="app">
      <h1>Welcome to the sanctuary!</h1>
      <h2>Use the dropdown menu to explore.</h2>
      <form>
        <select> 
          <option>#optionA#</option>
          <option>#optionB#</option>
          <option>#optionC#</option>
        </select>
       </form> 
    </div>
  </body>
</html>